CompileFlags:
    Add: [-xc++]
    Compiler: clang++

Diagnostics:
    UnusedIncludes: Strict

    ClangTidy:
        Add: [
            'bugprone-*',
            'modernize-*',
            'readability-*',
            'performance-*',
            'cppcoreguidelines-*',
            'misc-*',
            'google-*'
        ]
        Remove: [
            'readability-identifier-length',
            'readability-braces-around-statements',
            'bugprone-easily-swappable-parameters',
            'readability-magic-numbers',
            'cppcoreguidelines-pro-type-cstyle-cast',
            'misc-non-private-member-variables-in-classes',
            'cppcoreguidelines-pro-type-reinterpret-cast',
            'cppcoreguidelines-narrowing-conversions',
            'bugprone-forward-declaration-namespace',
            'cppcoreguidelines-pro-bounds-pointer-arithmetic',
            'cppcoreguidelines-special-member-functions',
            'cppcoreguidelines-missing-std-forward'
        ]

InlayHints:
    ParameterNames: No
    BlockEnd: No
    Designators: No
    DeducedTypes: Yes
    TypeNameLimit: 10