[submodule "subprojects/Lyra"]
	path = subprojects/Lyra
	url = https://github.com/bfgroup/Lyra.git
[submodule "subprojects/sdbus-cpp"]
	path = subprojects/sdbus-cpp
	url = https://github.com/Kistler-Group/sdbus-cpp
