name: AURGH Build

on:
  push:
    paths:
      - '**/meson.build'
      - '**/meson_options.txt'
      - '**/*.meson'
      - '.github/workflows/*.yml'
      - '**/*.jsonc'
      - '**/*.json'
      - '**/*.cc'
      - '**/*.hh'

permissions:
  contents: read

jobs:
  build:
    name: "Build AURGH - ${{ matrix.compiler }}"
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest

    strategy:
      matrix:
        compiler: [clang, gcc]
        include:
          - compiler: clang
            cxx: clang++
            cxx_ld: lld
          - compiler: gcc
            cxx: g++
            cxx_ld: bfd

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        shell: bash
        run: |
          sed -i 's/SigLevel    = Required DatabaseOptional/SigLevel    = Optional TrustAll/' /etc/pacman.conf
          pacman -Syyu --noconfirm --noprogressbar --needed - < .github/deps.txt

      - name: Compile with ${{ matrix.compiler }}
        run: |
          CXX=${{ matrix.cxx }} CXX_LD=${{ matrix.cxx_ld }} meson setup target -Dbuildtype=release
          meson compile -C target
